---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const projectPosts = await getCollection("projects");
const blogPosts = await getCollection("blog");

import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <BaseHead title="Home" description="A blog about cross stitch" />
  </head>

  <body class="bg-gradient">
    <Header />
    <h1>Suzza Stitches</h1>
    <p>The five boxing wizards jump quickly</p>
    <h2>WIPs</h2>
    <ul>
      {
        projectPosts.map((post) => (
          <li>
            {post.data.thumbnail && (
              <p>
                <Image
                  src={post.data.thumbnail.src}
                  format="jpg"
                  quality="high"
                  height="500"
                  width="300"
                  alt={post.data.thumbnail.alt}
                  layout="full-width"
                />
              </p>
            )}
            <a href={`/projects/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
    <h2>Blog</h2>
    <ul>
      {
        blogPosts.map((post) => (
          <li>
            <a href={`/blog/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
    <Footer />
  </body>
</html>

<style>
  h1 {
    font-family: var(--font-solider);
  }
  body {
    font-family: var(--font-abordage);
  }
</style>
