---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const projectPosts = await getCollection("projects");
const blogPosts = await getCollection("blog");

import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <BaseHead title="Home" description="A blog about cross stitch" />
  </head>

  <body class="bg-gradient med">
    <Header />
    <h1>Suzza Stitches</h1>
    <p>The five boxing wizards jump quickly</p>
    <h2>WIPs</h2>
    <div class="flex items-center justify-center">
      <div>
        <ul>
                   {
            projectPosts.map((post) => (
              <li>
                <div class="container">             
                   {post.data.thumbnail && (
                  <p>
                    
                    <Image
                      src={post.data.thumbnail.src}
                      format="jpg"
                      quality="high"
                      height="500"
                      width="300"
                      alt={post.data.thumbnail.alt}
                      layout="full-width"
                      style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;"
                    />
                  </p>
                )}
              <div  class="content">  <a href={`/projects/${post.id}`}>{post.data.title}</a></div>  </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <h2>Blog</h2>
    <div class="flex items-center justify-center">
      <div>
        <ul>
          {
            blogPosts.map((post) => (
              <li>
                <a href={`/blog/${post.id}`}>{post.data.title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <Footer />
  </body>
</html>

<style>
  h1 {
    font-family: var(--font-solider);
  }
  body {
    font-family: var(--font-abordage);
  }
  .container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(255, ,255, 255); /* Fallback color */
  background: rgba(255, 191, 0, 0.5); /* Black background with 0.5 opacity */
  color: #000; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

 h2 {
    background-color: #000;
    padding: 0.5em;
    color: #fff;
    max-width: fit-content;
    position: relative;
  }
  h2::after {
    content: "";
    display: block;
    background-color: #000;
    width: 75vw;
    height: 2px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 100%;
  }
</style>